{% extends "base.html" %}

{% block contenido %}
<div class="d-flex flex-column align-items-center py-4" style="background-color: #d8b5f7ff;">
    <div class="p-4 rounded shadow-sm" style="max-width: 400px; width: 100%; background-color: #8ba9e7ff">
        <h2 class="mb-3 text-center text-dark"><i>CALCULADORA DE ÍNDICE DE MASA CORPORAL</i></h2>
        
        <form action="/calculadoraIMC" method="POST">      
            <div class="mb-3">
                <input type="number" step="0.1" class="form-control" name="peso" required placeholder="Peso (kg)">
            </div>

            <div class="mb-3">
                <input type="number" step="0.1" class="form-control" name="estatura" placeholder="Estatura (cm)" required>
            </div>

            <button type="submit" class="btn btn-dark w-100">Calcular IMC</button>
        </form>

        {% if resultado_imc %}
            <div class="alert alert-success mt-3 text-center">
                Tu IMC es: <strong>{{ resultado_imc }}</strong>
            </div>
        {% endif %}

        {% if error %}
            <div class="alert alert-danger mt-3 text-center">
                {{ error }}
            </div>
        {% endif %}

    </div>
</div>
{% endblock %}
