{% extends "base.html" %}

{% block contenido %}
<div class="d-flex flex-column align-items-center py-4" style="background-color: #d8b5f7ff;">
    <div class="p-4 rounded shadow-sm" style="max-width: 400px; width: 100%; background-color: #8ba9e7ff">
        <h2 class="mb-3 text-center text-dark"><i>CALCULADORA DE GASTO CALÓRICO TOTAL</i></h2>
        
        <form action="/calculadoraGCT" method="POST">
    <div class="mb-3">
        <input type="number" class="form-control" name="peso" required placeholder="Peso (kg)">
    </div>

    <div class="mb-3">
        <input type="number" class="form-control" name="estatura" required placeholder="Estatura (cm)">
    </div>

    <div class="mb-3">
        <input type="number" class="form-control" name="edad" required placeholder="Edad">
    </div>

    <div class="mb-3">
        <select name="gender" class="form-select" required>
            <option value="male">Masculino</option>
            <option value="female">Femenino</option>
        </select>
    </div>

    <div class="mb-3">
        <select name="actividad" class="form-select" required>
            <option disabled selected>Nivel de actividad</option>
            <option value="1.2">Sedentario</option>
            <option value="1.375">Ligero</option>
            <option value="1.55">Moderado</option>
            <option value="1.725">Intenso</option>
            <option value="1.9">Muy intenso</option>
        </select>
    </div>

    <button type="submit" class="btn btn-dark w-100">Calcular GCT</button>
</form>

{% if resultado %}
<div class="alert alert-success mt-3 text-center">
    Tu gasto calórico total es: <strong>{{ resultado }} kcal/día</strong>
</div>
{% endif %}
        {% if error %}
            <div class="alert alert-danger mt-3 text-center">
                {{ error }}
            </div>
        {% endif %}

    </div>
    </div>
{% endblock %}