{% extends "base.html" %}

{% block contenido %}
<div class="d-flex flex-column align-items-center py-4" style="background-color: #d8b5f7ff">
    <div class="p-4 rounded shadow-sm" style="max-width: 400px; width: 100%; background-color:rgb(139, 169, 231)">
        <h2 class="mb-3 text-center text-dark">Crea una cuenta</h2>
        <p class="fs-6 text-center text-dark">Es rápido y fácil</p>

        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        <form method="POST" action="{{ url_for('registrame') }}" class="formulario-registro">
            <input type="text" class="form-control mb-3" name="nombreCompleto" placeholder="Nombre completo" required value="{{ request.form.get('nombreCompleto', '') }}"/>
            <input type="text" class="form-control mb-3" name="apellido_paterno" placeholder="Apellido paterno" required/>
            <input type="text" class="form-control mb-3" name="apellido_materno" placeholder="Apellido materno"/>
            <input type="date" class="form-control mb-3" name="fecha_nacimiento" required/>

            <div class="mb-3">
                <label for="gender" class="form-label">Género</label>
                <select name="gender" id="gender" class="form-select" required>
                    <option value="female">Mujer</option>
                    <option value="male">Hombre</option>
                    <option value="custom">Personalizado</option>
                </select>
            </div>
            <div class="mb-b">
                <input type="text" class="form-control mb-3" name="Peso" placeholder="Peso" required/>
                <input type="text" class="form-control mb-3" name="Altura" placeholder="Altura" required/>
            </div>

            <input type="email" class="form-control mb-3" name="email" placeholder="Correo electrónico" required/>
            <input type="password" class="form-control mb-3" name="password" placeholder="Contraseña" required/>
            <input type="password" class="form-control mb-3" name="confirmPassword" placeholder="Confirmar Contraseña" required/>

            <button type="submit" class="btn btn-success w-100">Registrarte</button>
        </form>
    </div>
</div>
{% endblock %}
